body {
    background-color: #25659C;
}

.navbar {
    margin-bottom: 5px;
    border-radius: 0px;
}

.navbar-brand {
    font-size: 22px;
}

.navbar-nav>li>a {
    font-size: 16px;
}

.navbar-default,
.panel-default>.panel-heading,
.input-group-addon,
pre {
    background-color: #F2F6FF;
}

#mainError.alert {
    border-radius: 0;
    margin-bottom: 5px;
}

.main {
    background: url('/assets/img/home-background.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 800px;
}

.main-content {
    background-color: rgba(242, 246, 255, 0.92);
    border-radius: 10px;
    padding: 0 10px;
}

.main-content h1 {
    padding-top: 15px;
}

.main-content h1 {
    color: #777;
}
